#contact-form {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 30px !important;
    background-color: #f2f2f2 !important;
    border-radius: 10px !important;
  }
  
  .form-group {
    width: 48% !important;
    margin-bottom: 20px !important;
  }
  
  .form-group label {
    display: block !important;
    margin-bottom: 5px!important;
    font-weight: bold !important;
  }
  
  #contact-form {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 5px !important; 
    border: none !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) !important;
  }
  
  .form-group textarea {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 5px!important;
    border: none !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) !important;
    resize: none!important;
    height: 150px !important;
  }
  
  .btn {
    background-color: #ff6200 !important;
    color: #000000 !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    border: none !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
  }
  
  .btn:hover {
    background-color: #ffffff ;
  }
  
  .map-container {
    width: 48% !important;
    height: 400px !important;
    border-radius: 10px !important;
    overflow: hidden !important ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) !important;
  }
  
  .our{
    color: #ff6200 !important;
  }
 


.mapeuh{
  width:600px; 
  height:300px;
}
@media only screen and (max-width: 600px) {
  .mapeuh{
    width:400px; 
    height:200px;
  }
}